<?xml version="1.0"?>
<launch>
    <arg name="config_path" default = "/home/tuan/monocam_ws/src/VINS-Mono/config/realsense/ironsides_factory_left_config.yaml" />
	  <arg name="vins_path" default = "/home/tuan/monocam_ws/src/VINS-Mono/config/../" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

   
</launch>
